DB_HOST=localhost
DB_PORT=3306
DB_USER=example
DB_PASSWORD=example
DB_NAME=db_example

JWT_SECRET=example-secret
JWT_EXPIRES_IN=*days

GATEWAY_BASE_URL=https://gateway.com.br/api
GATEWAY_ENCRYPTION_KEY=encryption-key

WEBHOOK_HMAC_SECRET=webhook-hmac-secret

RESEND_API_KEY=re_R8cSfMzG_G88XE5vHXTepnnJjcDmviH74
EMAIL_FROM=BaaS <marcosd.atanazio@gmail.com>
FRONTEND_URL=http://localhost:5173